In [1]:
import xcsc_tushare as xc 
import datetime
import re
import sys
sys.path.append('..')
from configure.settings import config

xc_server=config['xc_server']
xc_token_pro=config['xc_token_pro']


xc.set_token(xc_token_pro)
pro = xc.pro_api(env='prd',server=xc_server)

In [4]:
df = pro.fund_basic(market='E',status='L')

In [5]:
df.head()

,ts_code,name,management,custodian,fund_type,found_date,due_date,list_date,issue_date,delist_date,...,exp_return,benchmark,status,invest_type,type,trustee,purc_startdate,redm_startdate,market,update_flag
0,159611.SZ,电力ETF,广发基金,中国建设银行,股票型,20211229,None,20220107,20211220,None,...,None,中证全指电力公用事业指数收益率,L,被动指数型,契约型开放式,None,20220107,20220107,E,1
1,560800.SH,数字经济ETF,鹏扬基金,招商银行,股票型,20211222,None,20220107,20211206,None,...,None,中证数字经济主题指数收益率,L,被动指数型,契约型开放式,None,20220107,20220107,E,1
2,562510.SH,旅游ETF,华夏基金,中国银行,股票型,20211221,None,20211230,20211116,None,...,None,中证旅游主题指数收益率,L,被动指数型,契约型开放式,None,20211230,20211230,E,1
3,159758.SZ,红利50ETF,华夏基金,中信银行,股票型,20211220,None,20211228,20211111,None,...,None,中证红利质量指数收益率,L,被动指数型,契约型开放式,None,20211228,20211228,E,1
4,562300.SH,碳中和ETF基金,银华基金,招商银行,股票型,20211220,None,20220105,20211110,None,...,None,中证内地低碳经济主题指数收益率,L,被动指数型,契约型开放式,None,20220105,20220105,E,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1081 entries, 0 to 1080
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ts_code         1081 non-null   object
 1   name            1081 non-null   object
 2   management      1081 non-null   object
 3   custodian       1081 non-null   object
 4   fund_type       1081 non-null   object
 5   found_date      1081 non-null   object
 6   due_date        8 non-null      object
 7   list_date       1081 non-null   object
 8   issue_date      1074 non-null   object
 9   delist_date     0 non-null      object
 10  issue_amount    1066 non-null   float64
 11  m_fee           1081 non-null   float64
 12  c_fee           1081 non-null   float64
 13  duration_year   11 non-null     float64
 14  p_value         1081 non-null   float64
 15  min_amount      1021 non-null   float64
 16  exp_return      0 non-null      object
 17  benchmark       1070 non-null   object
 18  status          1081 non-null   object
 19  invest_type     1070 non-null   object
 20  type            1081 non-null   object
 21  trustee         0 non-null      object
 22  purc_startdate  1008 non-null   object
 23  redm_startdate  1008 non-null   object
 24  market          1081 non-null   object
 25  update_flag     1081 non-null   object
dtypes: float64(6), object(20)
memory usage: 219.7+ KB

In [8]:
f_df = pro.fund_daily(ts_code='160527.SZ', start_date='20200101', end_date='20220105')

In [9]:
f_df.head()

,ts_code,trade_date,pre_close,open,high,low,close,change,pct_chg,vol,amount
0,160527.SZ,20220105,1.091,1.086,1.090,1.076,1.081,-0.010,-0.9166,1401.57,151.630
1,160527.SZ,20220104,1.093,1.087,1.092,1.084,1.091,-0.002,-0.1830,1050.59,114.123
2,160527.SZ,20211231,1.091,1.088,1.093,1.088,1.093,0.002,0.1833,1315.00,143.221
3,160527.SZ,20211230,1.088,1.092,1.093,1.091,1.091,0.003,0.2757,1453.00,158.654
4,160527.SZ,20211229,1.097,1.094,1.094,1.084,1.088,-0.009,-0.8204,924.00,100.847

In [14]:
df_netvalue = pro.fund_nav(ts_code='160527.SZ',start_date='20211101', end_date='20220105')

In [15]:
df_netvalue.head()

,ts_code,ann_date,end_date,unit_nav,accum_nav,accum_div,net_asset,total_netasset,adj_nav,update_flag
0,160527.SZ,20220106,20220105,1.1305,1.1635,None,None,None,1.162226,0

In [22]:
df2 = pro.fund_nav(ts_code='160527.SZ',start_date='20210101', end_date='20211105')

In [23]:
df2.head()

,ts_code,ann_date,end_date,unit_nav,accum_nav,accum_div,net_asset,total_netasset,adj_nav,update_flag
0,160527.SZ,20211106,20211105,1.1535,1.1865,None,None,None,1.185871,0